<div class="modal fade" id="personal_view">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-user"></i> Lista de usuarios</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-6">
                    <label for="">Cedula</label>
                    <label for="">Nombre</label>
                    <label for="">Apellido</label>
                    <label for="">Telefonos</label>
                    <label for="">Direccion</label>
                    <label for="">Email</label>
                    <label for="">Sexo</label>
                    <label for="">Fecha de nacimiento</label>
                </div>
                <div class="col-sm-6">
                    
                </div>
            </div>
        </div>
    </div>
</div>
