@font-face
{
    font-family: 'proxima-nova';
    src: url('ProximaNova-Reg.ttf');
    font-weight: normal;
    font-style: normal;
 }

body {
  font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
  padding: 0;
  border: 0;
  overflow: hidden;
  height: 100% ; 
  max-height: 100%; 
  background-color: #1F62AE;
  height:100%;
}

article, aside, figure, footer, header, hgroup, nav, section, article { 
  display:block;
}

header, #banner, footer, nav, div
{ margin-left: auto; 
  margin-right: auto;
  text-align: center;
}

header hgroup h1 {
  border-bottom: solid;
  padding-bottom: 10px;
  border-width: 1px;
  border-color: #e4e4e4;
  text-shadow:0px 0px 30px rgba(0,0,0,0.5);
  margin-left: 120px;
  margin-right: 120px;
}

.form-container {
  background-color: #FFFFFF;
  padding: 1px 0 15px 0;
  border-radius: 6px;
  width: 35%;
  margin: auto;
}

h1 {
  color
}

a {
  color: #3a3737;
  text-align: justify;
  text-justify: inter-word;
  text-indent: 50px;
  font-weight: bold;
  border-radius: 2px;
}

form {
  text-align: center;
}

h1 {
  text-align: center;
  color: #3a3737;
}

#user, #pass {
  padding: 3px 0 3px 10px;
  letter-spacing: 1px;
  border-radius: 3px;
}

#pass {
  margin-top: 10px;
  margin-right: 27px;
}

#button {
  color: #FFFFFF;
  background-color: #1F62AE;
  font-size: 14px;
  font-weight: bold;
  border: none;
  padding: 5px;
  width: 80px;
  height: 35px;
  letter-spacing: 1px;
  border-radius: 2px;
  text-shadow: 1px 1px 1px #1d1d1d;
  cursor: pointer;
  text-decoration: none;
  margin-top: 15px;
}

footer {
  margin-top: 220px;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
}