<div class="modal fade" id="condicion">
    <div class="modal-dialog width-cstm-modal">
        <div class="modal-content">
            
            <form id="" class="form-horizontal">
                <div class="modal-header">
                    Motivos de Inasistencia
                </div>
                <div class="modal-body ">
                    <select name="" id="">
                        <option value="">
                            Justificado
                        </option>
                        <option value="">
                            Injustificada
                        </option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button> Guardar</button>     
                </div>
            </form>
        </div>
    </div>
</div>
