<div class="modal fade" id="condicion">
    <div class="modal-dialog width-cstm-modal">
        <div class="modal-content">
            <div class="modal-header">
               Condicion de Inasistencia
            </div>
            <div class="modal-body ">
                <button  data-value="2" class="btn btn-success asistencia"> Justificado <i class="fa fa-thumbs-up"></i></button>
                <button  data-value="3" class="btn btn-danger asistencia"> Injustificado <i class="fa fa-clock-o"></i></button>
            </div>
        </div>
    </div>
</div>
