<div class="modal fade" id="motivos">
    <div class="modal-dialog width-cstm-modal">
        <div class="modal-content">
            
            <form id="" class="form-horizontal">
                <div class="modal-header">
                    Condicion de Asistido
                </div>
                <div class="modal-body ">
                    <select name="" id="">
                        <option value="">
                            Puntual
                        </option>
                        <option value="">
                            Retardo
                        </option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button> Guardar</button>     
                </div>
            </form>
        </div>
    </div>
</div>
