<div class="modal fade" id="motivos">
    <div class="modal-dialog width-cstm-modal">
        <div class="modal-content">
            <div class="modal-header">
               Condicion de Asistido
            </div>
            <div class="modal-body ">
                <button data-value="1" class="btn btn-success asistencia"> Puntual <i class="fa fa-thumbs-up"></i></button>
                <button data-value="4" class="btn btn-danger asistencia"> Retardo <i class="fa fa-clock-o"></i></button>
            </div>
        </div>
    </div>
</div>
