<div class="modal fade" id="personal_asis">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-user"></i> Asistencia de <span id="nombre_personal"></span></h4>
            </div>
            <div class="modal-body">
                <table id="get_personal_asis" class="display responsive nowrap"  width="100%">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Asistencia</th>
                            <th>Condicion</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
