{% extends "base.html"%}
{% load staticfiles %}
{% block css %}
{% endblock %}  
{% block content %}
  <div class="button-pane pull-left">
    <a href="#profile_set" data-toggle ="modal" style="margin-left:10px" class="btn btn-primary pull-right plus-btn"><span class="fa fa-user-plus"></span> Agregar personal</a>
    <a href="#filter" data-toggle ="modal" style="margin-left:10px" class="btn btn-primary pull-right plus-btn" data-toggle ="modal"><span class="fa fa-calendar-plus-o"></span> Ver inasistencias</a>
    <a href="#job" data-toggle ="modal" style="margin-left:10px" class="btn btn-primary pull-right plus-btn" data-toggle ="modal"><span class="fa fa-black-tie"></span> Ver Cargos</a>
    <a href="#set_cargo" data-toggle ="modal" class="btn btn-primary pull-right plus-btn" data-toggle ="modal"><span class="fa fa-briefcase"></span> Añadir Cargo</a>
  </div>
  <table id="get_personal" class="display responsive nowrap"  width="100%">
    <thead>
      <tr>
        <th><i class="fa fa-eye"></th>
        <th> <i class="fa fa-calendar-plus-o"></i></th>
        <th> <i class="fa fa-check"></i></th>
        <th> <i class="fa fa-times"></i></th>
        <th> <i class="fa fa-pencil"></i></th>
        <th> <i class="fa fa-trash"></i></th>
        <th> Cedula</th>
        <th> Nombre</th>
        <th> Apellido</th>
        <th> Celular</th>
        <th> Telefono</th>
        <th> Direnccion</th>
        <th> Email</th>
        <th> Sexo</th>
        <th> Fecha de nacimiento</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% include "personal/view.html" %}
{% include "personal/edit.html" %}
{% include "personal/view_cargos.html" %}
{% include "personal/set.html" %}
{% include "personal/cargo.html" %}
{% include "asistencia/motivos.html" %}
{% include "asistencia/filter.html" %}
{% include "asistencia/personal.html" %}
{% include "asistencia/condicion.html" %}
{% endblock %} 
{% block js %}
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
