<div class="modal fade" id="profile_set">
    <div class="modal-dialog width-cstm-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2> Añadir Personal</h2>
            </div>
            <div class="modal-body">    
                <form id="" class="form-horizontal" action="javascript:set_person()">
                    <div class="row">
                    <div class="col-sm-6 col-md-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12">
                                <label>Cedula:</label> 
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <input type="text" id="cedula" name="cedula" required/> 
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12">
                                <label>Nombre:</label> 
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <input type="text" id="nombre" name="nombre" required/> 
                            </div>
                                
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12">
                                <label>Apellido:</label> 
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <input type="text" id="apellido" name="apellido" required/> 
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12">
                                <label>Dirección:</label> 
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <input type="textarea" id="direccion" name="direccion" required/> 
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-6 col-md-12">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12">
                                <label>Telefono:</label> 
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <input type="text" id="telf" name="telf" required/> 
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12">
                                <label>Email:</label> 
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <input type="email" id="correo" name="correo" required/> 
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-md-6">
                                <label>Sexo:</label> 
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <input type="radio" name="sexo" value="Hombre" required>
                                <label for="" style="margin-right: 4px">Hombre</label>
                                <input type="radio" name="sexo" value="Mujer" required>
                                <label for="">Mujer</label>
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-md-6">
                                <label>Cargo:</label> 
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <input type="text" id="nombre" name="nombre" required/> 
                            </div>
                        </div>
                    </div> 
                        
                    </div>
                    
                <div class="modal-footer">
                    <input type="submit" id="button" name="op" value="Entrar"/> 
                </div>
                
                </form>
            </div>
        </div>
    </div>
</div>
