{% extends "base.html"%}
{% load staticfiles %}
{% block css %}
{% endblock %}  
{% block content %}
  <div class="container">
    <a href="#profiles" data-toggle ="modal" class="btn btn-primary pull-right plus-btn"><span class="fa fa-user-plus"></span> Agregar personal</a>
    <a href="#here" data-toggle ="modal" class="btn btn-primary pull-right plus-btn" data-toggle ="modal"><span class="fa fa-calendar-plus-o"></span> Ver inasistencias</a>
    <table id="get_personal">
      <thead>
        <tr>
          <th></th>
          <th> <i class="fa fa-calendar-plus-o"></i></th>
          <th></th>
          <th> Cedula</th>
          <th> Nombre</th>
          <th> Apellido</th>
          <th> Telefono</th>
          <th> Direnccion</th>
          <th> <i class="fa fa-check"></i></th>
          <th> <i class="fa fa-times"></i></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
{% include "personal/view.html" %}
{% include "asistencia/motivos.html" %}
{% include "asistencia/condicion.html" %}
{% endblock %} 
{% block js %}
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
